<ul>
  {{#each products}}
    <li>
      <div>ID: {{this.id}}</div>
      <div>Title: {{this.title}}</div>
      <div>Price: {{this.price}}</div>
      <div>Thumbnail: {{this.thumbnail}}</div>
    </li>
    <hr>
  {{/each}}
</ul>